<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Control Panel | Login</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/ap/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/ap/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/ap/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/ap/dist/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/ap/plugins/iCheck/square/blue.css">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  
  <!-- /.login-logo -->
    <!-- Success Flash Message -->
    <% if ( successFlash.length > 0 ) { %>
    <div class="alert alert-success" role="alert">
        <p>
            <%= successFlash %>
        </p>
    </div>
    <% } %>
    <!-- Error Flash Message -->
    <% if ( errorFlash.length > 0 ) { %>
    <div class="alert alert-danger" role="alert">
        <p>
            <%= errorFlash %>
        </p>
    </div>
    <% } %>
    <!-- // End Flash -->
  <div class="login-box-body" style="border-radius: 10px;">
    <div class="text-center" style="margin-top: 0px;">
      <img src="/ap/images/admin-avatar.png" width="40%" alt="">
      <div class="login-logo text-info">
        Admin Panel
      </div>
      <hr>
    </div>
    <form action="/ap/auth/login" method="POST">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="E-mail" name="username" required>
        <span class="form-control-feedback">@</span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-info btn-block">Sign-In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <div style="margin-top: 20px;">
        <a href="#" data-toggle="modal" data-target="#forgotPasswordModal" class="text-center">Forgotten Password?</a>
    </div>
  </div>
  <!-- /.login-box-body -->

</div>
<!-- /.login-box -->
<!-- Modal password reset -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title text-center" id="exampleModalLabel">
          Reset Password
        </h3>
      </div>
      <form action="/ap/reset-password" role="form" enctype="multipart/form-data" method="POST" id="registerForm">
      <div class="modal-body">
        <p>
          Submit the email you signed up with to reset your password.
        </p>
          <div class="form-group">
            <label class="control-label">E-mail</label>
            <input type="email" class="form-control" name="email" placeholder="Email" required>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> &nbsp;Send</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!-- // password reset modal -->
<!-- jQuery 3 -->
<script src="/ap/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/ap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
