<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2020 <a href="javascript:;">Control Panel MIS</a>.</strong> All rights
    reserved.
</footer>