<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <% if(currentUser.image != "" && currentUser.image != undefined){ %>
            <img src="<%=currentUser.image%>" class="img-circle" alt="User Image">
          <% } else { %>
            <img src="<%=currentUser.image%>" class="img-circle" alt="User Image">
          <% } %>
        </div>
        <div class="pull-left info">
          <p><%=currentUser.name%></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="home">
          <a href="/ap/dashboard">
            <i class="fa fa-dashboard"></i> <span>Home</span>
          </a>
        </li>
        <li class="products treeview">
          <a href="#">
            <i class="fa fa-star"></i> <span>Products</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="add-product"><a href="/ap/product/add"><i class="fa fa-circle-o"></i> Add New</a></li>
            <li class="list-product"><a href="/ap/product/list"><i class="fa fa-circle-o"></i> View All</a></li>
          </ul>
        </li>
        <!-- <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li> -->
        <!-- <li class="header">MORE ITEMS</li> -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
